body {
    background-color: #272f45;
    color: #444;
    overflow: hidden;
    font-family: Montserrat, Calibri, sans-serif;
}

#container {
    background-image: url("/img/map.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: 1513px 850px; */
    /* background-position: -60px -15px; */
    background-position-x: center;
    background-position-y: center;
    filter: brightness(100%);
    /* filter: constrast(120%); */
    position: absolute;
    width: 1513px;
    height: 770px;
    right: 0px;
    top: 74px;
    overflow: hidden;
}

#container:after {
    opacity: 0.5;
    overflow: hidden;
}

#myProgress {
    width: 50%;
    position: absolute;
    height: 770px;
    left: 400px;
    top: 500px;
    height: 30px;
    background-color: grey;
    z-index: 100;
}

#myBar {
    width: 10%;
    background-color: #04AA6D;
    text-align: center;
    line-height: 30px;
    color: white;
    z-index: 200;
}

#overlay {
    display: none;
    position: absolute;
    right: 0px;
    top: 74px;
    margin-top:40px;
    overflow: hidden;
    font-size: 1em;
    color: #dddddd
}

#left {
    padding: 5px 2px 5px 5px;
    border: 1px solid #363A53;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 1em;
}

#l1>th {
    padding-bottom: 5px;
}

#l2>th {
    padding-top: 5px;
}

#helpicon {
    margin-top: 4px;
    margin-left: 5px;
    max-width: 14px;
    filter: invert(1);
    cursor: pointer
}


#price {
    width: 5ch;
    background-color: transparent;
    border: none;
    color: white !important
}

#right {
    margin-left: -3px;
    line-height: 0.5em;
    font-weight: bold;
    color: white
}

#plus, #minus {
    background-color: #363A53;
    border: 1px solid #363A53;
    padding: 4px 3px 4px 3px;
    height: 1em;
    cursor: pointer
}

#plus {
    font-size: 1.5em;
    border-top-right-radius: 4px;
}

#minus {
    padding-top: -2px;
    font-size: 1.5em;
    border-bottom-right-radius: 4px;
}

.line-pickr-container {
    display: none;
    position: absolute;
    left: 1750px;
    top: 600px;
    z-index: 300;
}

.fill-pickr-container {
    display: none;
    position: absolute;
    left: 1750px;
    top: 670px;
    z-index: 300;
}

#zoomin {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1110px;
    bottom: 80px;
    z-index: 300;
}

#zoomout {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1050px;
    bottom: 80px;
    z-index: 300;
}

#focus {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1080px;
    bottom: 80px;
    z-index: 300;
}

#centergroup {
    padding-top: 10px;
    width: 100%;
    position: relative;
    text-align: center;
}

#zoombuttons {
    display: none;
    position: relative;
    left: 45%;
    top: 10px;
}

#profit-per {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 2.5em
}

#profit-val {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 1.2em
}

.green {
    color: green !important
}

.red {
    color: red !important
}